@media (min-width: 960px){
  .container {
      width: 960px;
  }  
}

.prospa-header-nav{
  width: 100%;
  height: 70px;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.62));
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.14);
  border: none;
  border-radius: 0px;  
  background-color: #37474f;
}

.prospa-header-nav .container, .navbar-header, .navbar-brand, .navbar-text {
  height: 100%;
}

.navbar-brand {
  padding: 26px 0 18px 0;
}

.prospa-white-logo{
  width: 110px;
  height: 27px;
  object-fit: contain;
  /*background-color: #ffffff;  */
}

.prospa-nav-tagline {
  height: 17px;
  font-family: Arial;
  font-size: 16px;
  text-align: left;
  color: #ffffff;
  position: relative;
  top: 12px;
  margin-left: 38px;
}

.prospa-page-header{
  line-height: 42px;
  font-family: Arial;
  font-size: 38px;
  font-weight: bold;
  text-align: left;
  color: #5b666d;
  margin-bottom: 25px;
}

.prospa-page-description{
  line-height: 44px;
  font-family: Arial;
  font-size: 16px;
  line-height: 1.38;
  letter-spacing: 0.4px;
  text-align: left;
  color: #455a64;  
  margin-bottom: 25px; 
}

.prospa-loan-form {
  width: 469px;
  height: 873px;
  background-color: #eceff1;
  padding: 22px 20px 31px 18px;
  margin-bottom: 61px;
}  


label {
  height: 20px;
  font-family: Arial;
  font-size: 14px;
  line-height: 1.43;
  text-align: left;
  color: #455a64;
  margin-bottom: 11px;
}

.form-group {
  margin-bottom: 30px;
}

.prospa-loan-duration-item {
  width: 44px;
  height: 44px;
  border: solid 1px #cfd8dc;  
}

.prospa-loan-duration-item:active {
  background-color: #8bc34a
}

.prospa-loan-repayment-panel{
  height: 281px;
  border-radius: 6px;
  border: solid 1px #cfd8dc;
}

.panel-body {
  padding: 10px;
}

.prospa-panel-title {
  height: 22px;
  font-family: Arial;
  line-height: 1.57;
  letter-spacing: 0.3px;
  color: #455a64;
}

.prospa-loan-repayment-details {
  margin: 25px 0 34px 0;
}

.prospa-loan-repayment-details .prospa-loan-repayment-column{
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #5a666e;
}

.prospa-loan-repayment-footnote {
  font-family: Arial;
  font-size: 10px;
  line-height: 1.8;
  color: #5b666d;
  margin: 0 10px 8px 10px;
}

a, a:hover, a:active, a:visited {
  color: #5a666e;
  text-decoration: underline;
}

.prospa-loan-submit-button, .prospa-loan-submit-button:hover, 
.prospa-loan-submit-button:active, .prospa-loan-submit-button:focus {
  width: 163.3px;
  height: 40px;
  margin-top: 15px;
  border-radius: 100px;
  background-color: #8bc34a;
}


.prospa-loan-submit-button span {
  width: 163.3px;
  height: 16px;
  font-family: Arial;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;  
}

.prospa-loan-range-list {
  list-style-type: none;
  padding: 0;
}

.prospa-loan-range-list li {
  display: inline-block;
  height: 16px;
  font-family: Arial;
  font-size: 14px;
  color: #5a666e;
  padding: 0 20px;
}

.prospa-loan-range-list li:first-child {
  padding-left: 0;
}

.prospa-loan-range-list li:last-child {
  padding-right: 0;
  float: right;
}